body {
    color: black;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(143, 124, 194);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.04rem 1.4rem 0;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgb(141, 209, 141);
}

.incorrect{
    background: rgb(204, 110, 110);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 3rem;
}

.hud-main-text {
    text-align: center;
    font-size: 5rem;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.4rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: green;
    width: 0%;
}

@media screen and (max-width: 900px){
    
    .container{
        width: 60rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;
    }

    #game {
        width: 80%;
        
    }
    #hud {
        max-width: 100%;
    }

    .choice-text{
        padding: 2rem;
        max-width: 100%;
        font-size: 3rem;
    }

    .choice-prefix {
        font-size: 3rem;
    }

    .hud-prefix {
        text-align: center;
        font-size: 3rem;
    }

    .choice-container{
        display: flex;
        margin-bottom: 0.8rem;
        width: 100%;
        border-radius: 4px;
        background: white;
        font-size: 2rem;
        min-width: 50rem;
        max-width: 100%;
    }

    .correct {
        background: rgb(141, 209, 141);
    }
    
    .incorrect{
        background: rgb(204, 110, 110);
    }
}